Cmnd_Alias NDR_INGEST_LOCAL = @HELPER_PATH@ *
Cmnd_Alias NDR_BRAINCTL = @COMMAND_HELPER_PATH@ *

ALL ALL = (root) NOPASSWD: NOSETENV: \
    NDR_INGEST_LOCAL
ALL ALL = (@SERVICE_USER@) NOPASSWD: NOSETENV: \
    NDR_BRAINCTL
